{% extends "base.html" %}

{% block title %}Notre Équipe{% endblock %}

{% block content %}

{% load static %}

<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
  <h1 class="text-4xl font-bold text-center text-blue-600 mb-10">Rencontrez Notre Équipe</h1>
  <div class="grid grid-cols-1 sm:grid-cols-3 gap-10 mx-auto lg:max-w-screen-lg">
    <!-- Membre 1 -->
    <div class="text-center">
      <img class="w-24 h-24 rounded-full mx-auto shadow" src="{% static 'image/team/wael_team_final_resize.jpeg' %}" alt="Wael" />
      <div class="flex flex-col justify-center mt-4">
        <p class="text-lg font-bold">Wael</p>
        <p class="mb-4 text-xs text-gray-800">Chef de Projet</p>
        <p class="text-sm tracking-wide text-gray-800">
          Wael est un expert en gestion de projets et aime accompagner les équipes vers le succès.
        </p>
      </div>
    </div>
    <!-- Membre 2 -->
    <div class="text-center">
      <img class="w-24 h-24 rounded-full mx-auto shadow" src="{% static 'image/team/team_Antoine_resize.jpeg' %}" alt="Antoine" />
      <div class="flex flex-col justify-center mt-4">
        <p class="text-lg font-bold">Antoine</p>
        <p class="mb-4 text-xs text-gray-800">Designer UX/UI</p>
        <p class="text-sm tracking-wide text-gray-800">
          Antoine conçoit des interfaces utilisateur intuitives et est passionné par le design inclusif.
        </p>
      </div>
    </div>
    <!-- Membre 3 -->
    <div class="text-center">
      <img class="w-24 h-24 rounded-full mx-auto shadow" src="{% static 'image/team/david_finalresize.jpeg' %}" alt="David the SCOTT" />
      <div class="flex flex-col justify-center mt-4">
        <p class="text-lg font-bold">David</p>
        <p class="mb-4 text-xs text-gray-800">Ressources Humaines</p>
        <p class="text-sm tracking-wide text-gray-800">
          David veille au bien-être de notre équipe et gère les talents avec passion.
        </p>
      </div>
    </div>
  </div>
</div>

{% comment %} <!-- Section pour les utilisateurs connectés -->
{% if user.is_authenticated %}
<div class="mt-10 text-center">
  <h2 class="text-2xl font-bold text-green-500">Bienvenue chez Assur'aimant</h2>
  <p class="mt-2 text-lg">Bonjour, {{ user.username }} !</p>
</div>
{% else %}
<div class="mt-10 text-center">
  <p class="text-lg">Vous n'êtes pas connecté.</p>
  <a href="{% url 'login' %}" class="text-blue-500 hover:underline">Se connecter</a>
</div>
{% endif %} {% endcomment %}

{% endblock %}